{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "tabWidth": 2,
  "jsxBracketSameLine": false,
  "arrowParens": "always",
  "htmlWhitespaceSensitivity": "strict",
  "endOfLine": "lf",
  "printWidth": 80,
  "quoteProps": "preserve"
}
